{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="container p-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'core/edit_post/edit_post_header.html' %}
            <div class="row mt-4 form-group w-100">
                <label class="font-weight-bold" for="{{ form.text.id_for_label }}">Text</label>
                <textarea name="{{ form.text.name }}" cols="40" rows="10" maxlength="{{ form.fields.text.max_length }}"
                          class="textarea form-control w-100" id="{{ form.text.auto_id }}"
                          placeholder="Enter your text" style="min-width: 100% !important;"></textarea>
            </div>
            <div class="row">
                {% include 'core/edit_post/edit_post_file_upload.html' %}
            </div>
        </form>
    </div>
{% endblock %}