<style>
    .swsh-nav-link {
        color: black;
        font-weight: 500;
    }

    .swsh-nav-link:hover {
        color: black;
    }

    #nav-bar-account {
        color: var(--primary-color);
    }

</style>
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="swsh-nav-link nav-link text-uppercase" href="{% url 'core:new_post' %}">Create Post</a>
    </li>
    <li class="nav-item">
        <a id="nav-bar-account" class="swsh-nav-link nav-link text-uppercase"
           href="{% url 'accounts:home' %}">Your Account</a>
    </li>
</ul>
