<style>
    #swsh-navbar-brand {
        color: black;
    }

    #swsh-navbar-brand:hover {
        color: var(--primary-color-dark);
    }
</style>
<div>
    <nav class="container mt-3 navbar navbar-expand justify-content-between">
        <a id="swsh-navbar-brand" href="{% url 'core:index' %}" class="navbar-brand font-weight-bold">swiftshare.it</a>
        {% if user.is_authenticated %}
            {% include 'core/nav/logged_in_navbar_actions.html' %}
        {% else %}
            {% include 'core/nav/logged_out_navbar_actions.html' %}
        {% endif %}
    </nav>
</div>