<style>
    .feature-header {
        color: white;
        font-weight: 500;
    }

    .feature-subtitle {
        color: white;
        font-weight: 300;
        opacity: 0.7;
    }
</style>
<div class="row">
    <div class="col-2 text-center">
        <span style="color: rgba(255,255,255,0.7); font-size: 2em;">
            <i class="fas fa-check-circle"></i>
        </span>
    </div>
    <div class="col-10">
        <h5 class="feature-header text-uppercase">{{ title }}</h5>
        <h6 class="feature-subtitle">{{ subtitle }}</h6>
    </div>
</div>