{% extends 'core/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block head %}
    <style>
        body {
            background-image: url("{% static 'core/background.svg' %}");
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="mt-5">Open post</h2>
        <form class="mt-4" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn swsh-button" type="submit" value="Open">
        </form>
    </div>
{% endblock %}