{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4 mb-5">
        <h2>Your Account</h2>
        <div class="row mt-4">
            <div class="col-md-3 col-12">
                <div class="list-group" id="list-tab">
                    <a class="list-group-item list-group-item-action {% if 'posts' in request.path %}active{% endif %}"
                       id="list-home-list"
                       href="{% url 'accounts:posts' %}">Posts</a>
                    <a class="list-group-item list-group-item-action {% if 'namespaces' in request.path %}active{% endif %}"
                       id="list-home-list"
                       href="{% url 'accounts:namespaces' %}">Namespaces</a>
                    <a class="list-group-item list-group-item-action {% if 'settings' in request.path %}active{% endif %}"
                       id="list-home-list"
                       href="{% url 'accounts:settings' %}">Settings</a>
                </div>
                <div class="list-group mt-3">
                    <a href="{% url 'accounts:logout_user' %}"
                       class="list-group-item list-group-item-action"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
            </div>
            <div class="col-md-9 col-12 mt-md-0 mt-4">
                {% block settings %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}