{% extends 'accounts/account_details/account_details_base.html' %}
{% block settings %}
    {% if user_posts %}
        <a class="btn btn-outline-primary mb-3" href="{% url 'core:new_post' %}" target="_blank">CREATE NEW POST</a>
        <div class="list-group">
            {% for post in user_posts %}
                <a href="
                        {% if post.namespace %}
                            {% url 'core:show_post_namespace' pk=post.keyword namespace_name=post.namespace.name %}
                        {% else %}
                            {% url 'core:show_post_no_namespace' pk=post.keyword %}
                        {% endif %}
                        "
                   target="_blank"
                   class="list-group-item list-group-item-action">
                    <h5 class="mb-0 mt-1">{{ post.keyword }}</h5>
                    <small class="mb-0 mb-1">Available until {{ post.removal_date }}</small>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div>
            <h4>You haven't created any posts yet!</h4>
            <a class="btn btn-outline-primary" href="{% url 'core:new_post' %}" target="_blank">CREATE FIRST POST</a>
        </div>
    {% endif %}
{% endblock %}