{% extends 'base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="container mt-md-5 mt-3">
        <div class="row">
            <div class="col-lg-6 col-md-12 pr-lg-5 pt-lg-5 pb-lg-5">
                {% include 'accounts/auth/create_account_form.html' with form=form %}
            </div>
            <div class="col-lg-6 col-md-12 pl-lg-5 pt-5 pb-5">
                {% include 'accounts/auth/../premium/premium_features_card.html' %}
            </div>
        </div>
    </div>
{% endblock %}