{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>swiftshare.it</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% compress css %}
        <link type="text/x-scss" href="{% static 'bootstrap/bootstrap.scss' %}" rel="stylesheet" media="screen">
        <link type="text/x-scss" href="{% static 'scss/custom.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'base.css' %}">

    <script src="{% static 'fontawesome/js/all.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">

    {% block head %}
    {% endblock %}

</head>
<body>
{% block navbar %}
    {% include 'core/nav/navbar.html' %}
{% endblock %}
{% block content %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

{% block js %}
{% endblock %}
</body>
</html>