{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/index.css' %}">
    <style>
        .swsh-nav-link {
            color: black;
            font-weight: 500;
        }

        .swsh-nav-link:hover {
            color: black;
            font-weight: bold;
        }

        #nav-bar-register {
            color: var(--primary-color);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-0 mt-md-5">
        {% include 'core/nav/navbar.html' %}
        <div class="row mt-2 mt-md-5 mb-5">
            <div class="col-12 col-md-7 align-self-center">
                <h1 class="font-weight-bold">Want to share something, but without complicated links?</h1>
                <h4>Sharing your things made easy!</h4>
                <div class="row mt-3 ml-1">
                    <div class="mr-3">
                        <a href="{% url 'core:new_post' %}" class="btn swsh-button">SHARE</a>
                    </div>
                    <div>
                        <a href="{% url 'core:open_post' %}" class="btn swsh-button-outline">OPEN</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 mt-5 pt-md-0">
                <img src="{% static 'core/images/index_main.svg' %}" alt="Representive image" class="img-fluid">
            </div>
        </div>
        <div class="mt-5 pt-5 pb-5">
            {% include 'core/link_info.html' %}
        </div>
        <h2 class="row col mt-5">How it works</h2>
        <div class="row mt-4 mb-5">
            {% include 'core/index/how_it_works.html' %}
        </div>
    </div>
{% endblock %}